
<div class="modal-header">
  <h3 class="modal-title">User Settings</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="row m-2">
  <div class="col-md-12">
    <div>You can use this token to interact with the SatNOGS DB API.</div>
    <div>
      <code>{{ token }}</code>
    </div>
  </div>
</div>
