{% extends "base.html" %}

{% load tags %}
{% load static %}
{% load widget_tweaks %}

{% block title %} - Modify Suggestion{% endblock %}

{% block top-menu-left %}
<span class="h4 mb-0 mr-3 d-none d-md-block">Modify Suggestion</span>
{% endblock %}

{% block top %}
<span class="h4 mb-0">Modify Suggestion</span>
{% endblock %}

{% block content %}
<div class="container p-3">
    <div id="form-container">
        {% if suggestion_type == 'satellite' %}
        <form action="" method="post" id="satellite_update-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
                <h3 class="modal-title">
                    Modify Suggestion
                </h3>
            </div>
            <div class="modal-body">
                <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                {% for field in form %}
                <div class="input-group my-1">
                    <label class="input-group-prepend input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if 'citation' in field.id_for_label %}
                        <input id="{{ field.id_for_label }}" class="form-control" type="text" name="citation"
                        value="{{ field.value }}" maxlength="512" placeholder="Citation" required="">
                    {% else %}
                        {% render_field field class="form-control" placeholder=field.label %}
                    {% endif %}
                    <div class="{% if field.errors %} invalid{% endif %}">
                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-satnogs-primary">Modify</button>
            </div>
        </form>
        {% else %}
        <form action="" method="post" id="transmitter_update-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
                <h3 class="modal-title">
                    Modify Suggestion
                </h3>
            </div>
            <div class="modal-body">
                <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>

                {% for field in form %}
                    {% if 'itu_notification' in field.id_for_label %}
                        <div class="input-group my-1" data-toggle="tooltip" data-placement="bottom"
                            title="ITU Notifications URLs, add one per line">
                            <label class="input-group-prepend input-group-text" for="{{ field.id_for_label }}_per_line">{{ field.label }}</label>
                            <textarea name="{{ field.name }}_per_line" placeholder="ITU Notification URLs, add one per line" rows="3" wrap="off"
                                    class="form-control" id="{{ field.id_for_label }}_per_line"></textarea>
                        </div>
                    {% endif %}
                    {% if 'drift' in field.id_for_label %}
                        <div class="input-group my-1"
                            {% if field.help_text %}
                                data-toggle="tooltip" data-placement="bottom" title="Drifted frequency, when different from the published frequency"
                            {% endif %}
                        >
                            <label class="input-group-prepend input-group-text" for="{{ field.id_for_label }}_hz">{{ field.label }} freq.</label>
                            <input type="number" name="{{ field.name }}_hz" min="-9223372036854775808" max="9223372036854775807"
                                placeholder="Drifted Frequency" class="form-control" id="{{ field.id_for_label }}_hz" value="{{ field.value }}"> 
                            <label class="input-group-text input-group-append">Hz</label>
                        </div>
                    {% endif %}
                    <div class="input-group my-1"
                        {% if field.help_text %}
                            data-toggle="tooltip" data-placement="bottom" title="{{ field.help_text }}"
                        {% endif %}
                        {% if 'itu_notification' in field.id_for_label %}
                            id="itu-coordination-input-group"
                        {% endif %}
                    >
                        <label class="input-group-prepend input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if 'citation' in field.id_for_label %}
                            <input id="{{ field.id_for_label }}" class="form-control" type="text" name="citation"
                                value="{{ field.value }}" maxlength="512" placeholder="Citation" required="">
                        {% else %}
                            {% render_field field class="form-control" placeholder=field.label %}
                        {% endif %}

                        {% if 'drift' in field.id_for_label %}
                            <label class="input-group-text input-group-append">PPB</label>
                        {% elif 'low' in field.id_for_label or 'high' in field.id_for_label %}
                            <label class="input-group-text input-group-append">Hz</label>
                        {% endif %}
                        <div class="{% if field.errors %} invalid{% endif %}">
                            {% for error in field.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-satnogs-primary">
                    Modify
                </button>
            </div>
        </form>
        <script src="{% static 'js/transmitter_modal.js' %}"></script>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'lib/admin-lte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/transmitter_modal.js' %}"></script>
<script src="{% static 'js/modify-suggestion.js' %}"></script>
{% endblock %}
